/* Stiziles */
ul {
    list-style: none;
    padding: 0;
}

select {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  background-color: #f5f5f5;
  padding: 3px 5px;
  display: inline-block;
  font-size: 14px;
  box-sizing: content-box;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('../fonts/OpenSans-CondBold-webfont.eot');
  src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
  url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}
html, body, #content{
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

html, body {

    background-color: #636c70;
}

/* main */
.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  color: #000;
  align-content: space-around;
}

.CurrentTrack {
  background: #dae2e6;
  order: 1;
  padding-bottom: 10px;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

#PatternListWrapper {
  max-width: 100%;
  overflow-y: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

#PatternListWrapper.with-form {
  width: calc(100% - 335px);
}

.PatternList,
.loopPatterns {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  margin-left: 10px;
}
.PatternList li ul {
  list-style: none;
  padding: 0;
}

.PatternList >li .inner {
  position: relative;
  padding: 12px;
}

.PatternList >li {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  margin: 3px 10px 3px 0;
  min-width: 320px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  background-color: #fff;
}

.PatternList .loop {
    width: auto;
}

#header {
  order: 1;
  height: 40px;
  background-color: #000;
  color: #fff;
}

#header h1 {
  display: inline-block;
  margin: 0;
  line-height: 40px;
  vertical-align: middle;
  font-weight: normal;
  font-size: 18px;
  padding: 0 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
#header h1 a {
  color: #fff;
  text-decoration: none;
}
#header .nav li,
#header .nav {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

#header .nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

#header .nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

#header .nav-right {
  float: right;
  margin-right: 10px;
}

#header .nav-left li a{
  padding: 0 20px;
}

#header .nav-left li a:hover {
  background-color: #ff5722;
}

#header .nav-right li a{
  padding: 0 10px;
}

#header li {
  position: relative;
}

#header .nav li .library li {
  display: block;
  text-transform: none;
}

#header .nav li .library li a {
  color: #333;
  display: inline-block;
}

#header .list-wrapper {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: #efefef;
  width: 360px;
  max-height: 320px;
  overflow-y: auto;
  position: absolute;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #757575;
}

.clear {
  clear: both;
}

.track {
  order: 2;
  display: flex;
  flex-direction: column;
}

.TrackTitle {
  font-size: 28px;
  text-transform: uppercase;
  background-color: #fff;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.TrackTitle .NameInput {
  display: inline-block;
}

.title-label {
  display: inline-block;
  margin-right: 10px;
}

.NameInput .title {
  color: #ff5722;
}

.NameInput .trackName {
  display: inline-block;
  width: 320px;
}

.NameInput .inputName input {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999999;
  color: #999999;
  margin: 0;
  padding: 0;
}

.NameInput input:focus {
  outline: none;
}

.TrackTitle .controls {
  float: right;
  display: inline-block;
  list-style: none;
  padding: 0;
  height: 60px;
  line-height: 60px;
  margin: 0;
}

.TrackTitle .controls li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  height: 60px;
  line-height: 60px;
  margin-top: -6px;
}

.Counter * {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  font-size: 16px;
}
.Counter .button {
  cursor: pointer;
  width: 35px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #515b60;
  color: #fff;
  border: 1px solid #434d51;
  border-radius: 4px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.Counter .button.minus {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.Counter .button.plus {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.Counter input{
  line-height: 34px;
  height: 32px;
  width: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border: none;
  border-top: 1px solid #434d51;
  border-bottom: 1px solid #434d51;
}

.Counter .label {
  margin-right: 10px;
}
.lineAndLoop button {
  float: left;
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  border: none;
  text-align: center;
  background: #515b60;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  padding: 0;
  margin: 0;

  border-radius: 3px;
  width: 102px;
  margin-right: 14px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
.PatternForm .tempoWrapper,
.counters .Loops{
  text-transform: uppercase;
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
}

.counters .Loops {
  float: left;
}

.counters {
  margin: 10px 0;
}

ul.counters li {
  display: inline-block;
  padding-right: 10px;
}

.PatternForm .tempoWrapper input,
.PatternForm .tempoWrapper .Tempo {
  display: inline-block;
}

.PatternForm .Tempo.Counter *,
.Loops.Counter *{
  height: 22px;
  line-height: 22px;
}
.PatternForm .Tempo.Counter input,
.Loops.Counter input{
  width: 34px;
  height: 20px;
  line-height: 22px;
  font-weight: normal;
}

.PatternForm .Tempo.Counter .button,
.Loops.Counter .button{
  width: 23px;
}
.PatternForm .Tempo.Counter .label,
.Loops.Counter .label{
  font-size: 16px;
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
}


#PatternFormWrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

#PatternFormWrapper.hidden{
  display: none;
}

.create-pattern {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #515b60;
  line-height: 35px;
  height: 35px;
  padding: 0 15px;
  border-radius: 4px;
  display: inline-block;
  text-transform: none;
  text-decoration: none;
  position: relative;
  top: -3px;
}

.PatternForm {
  min-width: 296px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  position: relative;

}

.PatternForm .submit {
  margin-top: 12px;
}

.PatternForm .submit a,
.PatternForm .submit input {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #515b60;
  text-decoration: none;
  color: #fff;

  padding: 0;
  margin: 0;

  border-radius: 3px;
  width: 141px;
  margin-right: 14px;
  height: 36px;
  line-height: 36px;
}

.PatternForm .submit input {
  margin-right: 0;
  background-color: #ff5722;
}

.PatternForm .buffer {
  width: 90px;
}

.PatternForm .subDiv {
  width: 137px;
}

.PatternForm .lines ul{
  list-style: none;
  padding: 0;
}

.PatternForm .NameInput {
  margin-bottom: 5px;
}

.PatternForm .NameInput .title{
  text-transform: uppercase;
}

.time-signature {
  margin-bottom: 10px;
}
.time-signature label {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 20px;
  color: #999999;
  display: inline-block;
  vertical-align: middle;
}

.time-signature .divider {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.timeSignatureSelect,
.timeSignatureData,
.timeSignatureData span{
  display: inline-block;
  vertical-align: middle;
}
.timeSignatureData span {
  color: #999;
  font-size: 14px;
}

.PatternForm .lines li {
  margin-bottom: 5px;
}

.PatternForm .lines li select {
  margin-right: 10px;
}

.PatternForm .lines {
  margin-bottom: 10px;
}

.PatternForm .remove-line {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  padding: 0;
  background-color: #f5f5f5;
  height: 24px;
  line-height: 22px;
  text-align: center;
  width: 24px;
}

.notes li {
    background-color: #495256;
    border-radius: 3px;
    display: inline-block;
    height: 60px;
    list-style: none;
    content: ' ';
    position: relative;
    text-align: center;
    font-size: 8px;
    line-height: 20px;
    vertical-align: middle;
    margin: 2px 1.5px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    box-shadow: 0 -1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.notes li[data-note-volume='0'] {
    background-color: #495256;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}


.notes li[data-note-volume='0.33'] {
    background-color: #fcdaaf;
}

.notes li[data-note-volume='0.66'] {
    background-color: #ffcc80;
}

.notes li[data-note-volume='1'] {
    background-color: #ff8a65;
}

.notes li[data-is-on='true'] {
    background-color: #4cb748;
}

.notes li[data-note-size='1'] {
    width: 957px;
}

.notes li[data-note-size='2'] {
    width: 477px;
}

.notes li[data-note-size='4'] {
    width: 237px;
}

.notes li[data-note-size='8'] {
    width: 117px;
}

.notes li[data-note-size='12'] {
    width: 77px;
}

.notes li[data-note-size='16'] {
    width: 57px;
}

.notes li[data-note-size='24'] {
    width: 37px;
}

.notes li[data-note-size='32'] {
    width: 27px;
}

.notes li[data-note-size='48'] {
    width: 17px;
}

.notes li[data-note-size='64'] {
    width: 12px;
}

ul.notes {
    padding-left: 100px;
    position: relative;
    white-space: nowrap;
}
ul.notes:before {
    content: attr(data-buffer);
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #cfd8dc;
    width: 75px;
    padding-right: 25px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 0px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

.lines {
  list-style: none;
  padding: 0;
}

.patterns {
  order: 2;
  flex: 1;
  padding-bottom: 20px;
  padding-left: 20px;
  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.pattern-name {
  font-size: 14px;
  margin-left: 103px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin-top: 10px;
  color: #cfd8dc;
  text-transform: uppercase;
}

.patterns .beat {
  margin-bottom: 20px;
}

.patternTitle {
  font-size: 20px;
  text-transform: uppercase;
}

.patternFormBeats {
  list-style: none;
  padding: 0;
}

ul.BeatsList,
ul.patternFormBeats {
  display: inline-block;
  white-space: nowrap;
}

ul.BeatsList >li,
ul.patternFormBeats >li {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

ul.BeatsList >li:last-child,
ul.patternFormBeats >li:last-child {
  margin-right: 0px;
}

ul.BeatsList >li td {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #999999;
  padding: 2px 15px 2px 0;
}

ul.BeatsList >li td:last-child {
  padding-right: 0;
}

.BeatsList li .time-signature {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #999999;
}

.PlayButton {
  height: 87px;
  background-color: #000;
  order: 3;
}

.PlayButton a {
  display: inline-block;
  color: #fff;
  background: linear-gradient(to bottom, #ff632d 0%,#ff4d1d 100%);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin: 10px;
  border-radius: 3px;
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
}

.PlayButton a:first-child {
  margin-right: 0;
}
.PlayButton a.play-pause {
  width: calc(75% - 10px);
}

.PlayButton a.compile {
  min-width: 65px;
  width: calc(25% - 20px);
}

.PlayButton p {
    position: relative;
    color: #747c80;
    width: 100%;
    text-align: center;
    bottom: 8px;
    font-size: 14px;
}

.dropdownTrigger {
  content: " ";
  display: block;
  background-color: #000;
  width: 22px;
  height: 22px;
}

.dropDownWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}
.dropdownListWrapper {
  position: absolute;
  top: 0;
  padding-top: 30px;
  right: -15px;
}
.PatternList li ul.dropdown {
  background-color: #fff;
  padding: 8px 14px 10px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.dropdown li {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  font-size: 14px;
}

.dropdown li a:hover {
  color: #ff5722;
}
.dropdown li a {
  text-decoration: none;
  color: #000;
}

.dropdownListWrapper:before,
.dropdownListWrapper:after {
  position: absolute;
  right: 19px;
  top: 14px;
  content: ' ';
  text-indent: -9999px;
  width: 0;
  height: 0;
  border-bottom: 8px solid rgba(0, 0, 0, 0.2);
  border-top: 8px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  z-index: 100;
}

.dropdownListWrapper:after {
  border-bottom: 8px solid #fff;
  top: 15px;
  z-index: 150;
}

.auth.nav img {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 9px;
  border: 1px solid #555;
}

.auth.nav .user {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
}

.snap {
  padding: 20px;
}

.snap li {
  background-color: #eee;
  margin: 0 10px 10px 0;
  width: calc(20% - 10px);
  height: 20%;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.5), inset 0 0 2px 1px rgba(0,0,0,0.7);
}

.snap a {
  width: 100%;
  display: block;
  height: 100%;
  color: #333;
  text-decoration: none;
}